@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply min-h-screen bg-slate-200 text-slate-100;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    overflow-x: hidden;
  }
  a {
    cursor: pointer;
    transition: all 250ms linear;
  }
  a:hover {
    text-decoration: none;
  }
  .link:hover {
    color: var(--main-yellow-accent);
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
  }
  h4 {
    font-weight: 600;
  }
  h6 span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .section {
    position: relative;
    width: 100%;
    display: block;
  }
}
